@media (min-width: 720px) {
  :root {
    --max-width: 900px;
  }

  main.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }

  .hero {
    grid-column: 1 / -1; 
    margin-bottom: 40px;
  }

  .info-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .weather-svg {
    width: 50px;
    margin: 10px auto;
  }

  .weather-heading::after {
    content: " ⛅"; 
    font-size: 1.2rem;
    margin-left: 6px;
  }
}